body { 
	font-family: Helvetica, san-serif; 
}
#tweets li {
	background-color: white;
	height: auto;
	border-radius: 15px;
	border: 1px solid grey;
	padding-left: 10px;
	box-shadow: 5px 5px 5px grey;
}

#profile_name {
	font-weight: bold;
	font-size: 20px;
}
#info {
	font-style: italic;
	font-size: 16px;
}
#summ {
	font-size: 14px;
	color: grey;
}
.tweet {
	display: inline-block;
	width: 85%;
	padding-left: 10px;
	padding-bottom: 5px;
}
.dp {
	margin-top: 5px;
}
.my-breakpoint .ui-block-a, .my-breakpoint .ui-block-b, .my-breakpoint .ui-block-c {
	width: 100%;

}
.ui-block-a li, .ui-block-b li {
	margin: 5px 2px;
}
@media all and (min-width: 36em) {
	.my-breakpoint .ui-block-a { 
		width:40%; 
	}
	.my-breakpoint .ui-block-b { 
		width:60%; 
	}
	.tweet {
		display: inline-block;
	}
}
@media all and (min-width: 50em){
	.my-breakpoint .ui-block-a { 
		width: 30%;
		margin: 15px 10px;
	}
	.my-breakpoint .ui-block-b { 
		width: 65%;
		margin: 15px 10px; 
	}
}